.add-list-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}

.add-list-row .ant-input {
    margin-left: 22px;
    height: 40px;
}


